In [ ]:
import pandas as pd
import json
from datetime import datetime

# Load JSON files
with open("/home/baskar/Desktop/Research/StockPricePred/datasets/NASDAQ_100-20250521T124016Z-1-001/NASDAQ_100/ABNB_10Y_DAILY.json", "r") as f:
    daily_data = json.load(f)

with open("/home/baskar/Desktop/Research/StockPricePred/datasets/FMP-20250521T123934Z-1-001/FMP/AAPL_10Y_QUARTERLY.json", "r") as f:
    quarterly_data = json.load(f)

# Convert daily data to DataFrame
daily_df = pd.DataFrame(daily_data)
daily_df['date'] = pd.to_datetime(daily_df['date'])

# Convert quarterly data to DataFrame
quarterly_df = pd.DataFrame(quarterly_data)
quarterly_df['date'] = pd.to_datetime(quarterly_df['date'])

# Define helper to assign quarter based on date
def get_quarter(d):
    month = d.month
    if month in [1, 2, 3]:
        return "Q1"
    elif month in [4, 5, 6]:
        return "Q2"
    elif month in [7, 8, 9]:
        return "Q3"
    else:
        return "Q4"

# Add year and quarter columns to daily_df
daily_df['year'] = daily_df['date'].dt.year
daily_df['quarter'] = daily_df['date'].apply(get_quarter)

# Add year and quarter columns to quarterly_df for merging
quarterly_df['year'] = quarterly_df['calendarYear'].astype(int)
quarterly_df['quarter'] = quarterly_df['period']

# Merge on year and quarter
merged_df = pd.merge(daily_df, quarterly_df, how='left', on=['year', 'quarter'])
# Drop unnecessary columns (optional)
merged_df.drop(columns=['calendarYear', 'period'], inplace=True)

# View result
merged_df

,date_x,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,2020-12-10 00:00:00+00:00,144.71,165.0000,141.2500,146.00,70447537,144.71,165.0000,141.2500,146.00,...,29.602612,37.781697,101.917294,93.080764,93.080764,2.728678,29.602612,0.001833,109.099622,29.312199
1,2020-12-11 00:00:00+00:00,139.25,151.5000,135.1000,146.55,26980830,139.25,151.5000,135.1000,146.55,...,29.602612,37.781697,101.917294,93.080764,93.080764,2.728678,29.602612,0.001833,109.099622,29.312199
2,2020-12-14 00:00:00+00:00,130.00,135.3000,125.1601,135.00,16966089,130.00,135.3000,125.1601,135.00,...,29.602612,37.781697,101.917294,93.080764,93.080764,2.728678,29.602612,0.001833,109.099622,29.312199
3,2020-12-15 00:00:00+00:00,124.80,127.6000,121.5000,126.69,10914432,124.80,127.6000,121.5000,126.69,...,29.602612,37.781697,101.917294,93.080764,93.080764,2.728678,29.602612,0.001833,109.099622,29.312199
4,2020-12-16 00:00:00+00:00,137.99,142.0000,124.9100,125.83,20409551,137.99,142.0000,124.9100,125.83,...,29.602612,37.781697,101.917294,93.080764,93.080764,2.728678,29.602612,0.001833,109.099622,29.312199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,2025-01-27 00:00:00+00:00,128.96,129.0600,125.6400,125.94,4806967,128.96,129.0600,125.6400,125.94,...,31.011567,26.525859,142.794511,128.770263,128.770263,0.178681,31.011567,0.001000,85.407689,57.741961
1036,2025-01-28 00:00:00+00:00,131.05,131.4200,126.8600,128.67,5929900,131.05,131.4200,126.8600,128.67,...,31.011567,26.525859,142.794511,128.770263,128.770263,0.178681,31.011567,0.001000,85.407689,57.741961
1037,2025-01-29 00:00:00+00:00,132.58,134.0500,130.8900,131.42,3627926,132.58,134.0500,130.8900,131.42,...,31.011567,26.525859,142.794511,128.770263,128.770263,0.178681,31.011567,0.001000,85.407689,57.741961
1038,2025-01-30 00:00:00+00:00,131.79,134.3714,130.8500,133.56,2440541,131.79,134.3714,130.8500,133.56,...,31.011567,26.525859,142.794511,128.770263,128.770263,0.178681,31.011567,0.001000,85.407689,57.741961
1039,2025-01-31 00:00:00+00:00,131.17,134.4500,130.5700,132.28,3047116,131.17,134.4500,130.5700,132.28,...,31.011567,26.525859,142.794511,128.770263,128.770263,0.178681,31.011567,0.001000,85.407689,57.741961

In [8]:
import json

def load_fundamentals_as_timesteps(fundamentals_json_path, use='date'):
    with open(fundamentals_json_path, 'r') as f:
        fundamentals = json.load(f)
    
    results = []
    for entry in fundamentals:
        timestamp = entry.get(use)
        # Extract only the ratio fields (exclude metadata)
        ratio_fields = {
            k: v for k, v in entry.items()
            if k not in {"symbol", "date", "calendarYear", "period"}
        }

        ratio_vector = list(ratio_fields.values())
        results.append([timestamp, ratio_vector])

    return results


samples = load_fundamentals_as_timesteps("/home/baskar/Desktop/Research/StockPricePred/datasets/FMP-20250521T123934Z-1-001/FMP/AAPL_10Y_QUARTERLY.json")
print(f"Total samples: {len(samples[0][1])}")
print("Example sample:", samples[0])

Total samples: 54
Example sample: ['2025-03-29', [0.8208700223419635, 0.7775072455748386, 0.19479702014926922, 46.999444205581014, 11.174245425017824, 58.17368963059884, 96.47746177612295, -38.303772145524114, 0.47050619238876246, 0.31029058610094484, 0.3073648003859101, 0.25986010759341016, 0.15455475946775846, 0.07481138654663032, 0.3709802982214504, 0.1585164629115728, 0.8454452405322416, 0.9905708202372503, 0.31029058610094484, 0.2964257788324231, 1.4699383196598599, 0.5404851336662951, 0.5951315901128608, 0, 0.24394516529851507, 4.958874782921133, 1.9149162616972568, 0.9328603628570373, 8.054235125219334, 2.034281935318713, 0.2878910011985521, 1.5974302394771485, 1.392616100138708, 3.234476108640729, 0.1516545601291364, 0.25117713063266184, 0.8717852371409486, 0.24394516529851507, 1.2207951070336391, 7.799413871703028, 3.5073949333723826, 0.1516545601291364, 48.913265282352235, 48.913265282352235, 34.262214031187405, 32.962171789749796, 156.4681034337436, 136.40658265698062, 136.40658265698062, -1.045247815964434, 34.262214031187405, 0.001150216686998581, 103.48013853643411, 48.913265282352235]]

In [7]:
import os
import json
import pandas as pd
from pathlib import Path

def load_json_files_from_folder(folder_path):
    dataframes = []
    for file in Path(folder_path).glob('*.json'):
        try:
            with open(file, 'r') as f:
                data = json.load(f)
                if isinstance(data, list):
                    df = pd.DataFrame(data)
                else:
                    df = pd.DataFrame([data])
                df['__source_file__'] = file.name
                dataframes.append(df)
        except Exception as e:
            print(f"Error reading {file}: {e}")
    return dataframes

def perform_eda(df):
    eda = {
        'Shape': df.shape,
        'Columns': df.columns.tolist(),
        'Data Types': pd.Series(df.dtypes).reset_index().rename(columns={'index': 'Column', 0: 'Type'}),
        'Missing Values': df.isnull().sum().reset_index().rename(columns={'index': 'Column', 0: 'Missing Count'}),
        'Unique Counts': df.nunique().reset_index().rename(columns={'index': 'Column', 0: 'Unique Values'}),
        'Summary Stats': df.describe(include='all').transpose()
    }
    return eda

def display_eda(folder_name, eda):
    print(f"\n=== EDA Summary for Folder: {folder_name} ===\n")

    print(f"Shape: {eda['Shape']}")
    print("\nColumns:")
    print(eda['Columns'])

    print("\n>> Data Types:")
    display(eda['Data Types'])

    print("\n>> Missing Values:")
    display(eda['Missing Values'])

    print("\n>> Unique Value Counts:")
    display(eda['Unique Counts'])

    print("\n>> Summary Statistics:")
    display(eda['Summary Stats'])

def run_eda_on_folders(folder1, folder2):
    for folder in [folder1, folder2]:
        if not os.path.exists(folder):
            print(f"Folder not found: {folder}")
            continue
        dfs = load_json_files_from_folder(folder)
        if dfs:
            combined_df = pd.concat(dfs, ignore_index=True)
            eda = perform_eda(combined_df)
            display_eda(folder, eda)
        else:
            print(f"No readable JSON files in {folder}")

# === Example usage ===
if __name__ == "__main__":
    folder1_path = "/home/baskar/Desktop/Research/StockPricePred/datasets/FMP-20250521T123934Z-1-001/FMP"
    folder2_path = "/home/baskar/Desktop/Research/StockPricePred/datasets/NASDAQ_100-20250521T124016Z-1-001/NASDAQ_100"
    run_eda_on_folders(folder1_path, folder2_path)

=== EDA Summary for Folder: /home/baskar/Desktop/Research/StockPricePred/datasets/FMP-20250521T123934Z-1-001/FMP ===

Shape: (10893, 59)

Columns:
['symbol', 'date', 'calendarYear', 'period', 'currentRatio', 'quickRatio', 'cashRatio', 'daysOfSalesOutstanding', 'daysOfInventoryOutstanding', 'operatingCycle', 'daysOfPayablesOutstanding', 'cashConversionCycle', 'grossProfitMargin', 'operatingProfitMargin', 'pretaxProfitMargin', 'netProfitMargin', 'effectiveTaxRate', 'returnOnAssets', 'returnOnEquity', 'returnOnCapitalEmployed', 'netIncomePerEBT', 'ebtPerEbit', 'ebitPerRevenue', 'debtRatio', 'debtEquityRatio', 'longTermDebtToCapitalization', 'totalDebtToCapitalization', 'interestCoverage', 'cashFlowToDebtRatio', 'companyEquityMultiplier', 'receivablesTurnover', 'payablesTurnover', 'inventoryTurnover', 'fixedAssetTurnover', 'assetTurnover', 'operatingCashFlowPerShare', 'freeCashFlowPerShare', 'cashPerShare', 'payoutRatio', 'operatingCashFlowSalesRatio', 'freeCashFlowOperatingCashFlowRatio', 'cashFlowCoverageRatios', 'shortTermCoverageRatios', 'capitalExpenditureCoverageRatio', 'dividendPaidAndCapexCoverageRatio', 'dividendPayoutRatio', 'priceBookValueRatio', 'priceToBookRatio', 'priceToSalesRatio', 'priceEarningsRatio', 'priceToFreeCashFlowsRatio', 'priceToOperatingCashFlowsRatio', 'priceCashFlowRatio', 'priceEarningsToGrowthRatio', 'priceSalesRatio', 'dividendYield', 'enterpriseValueMultiple', 'priceFairValue', '__source_file__']

>> Data Types:

                                Column     Type
0                               symbol   object
1                                 date   object
2                         calendarYear   object
3                               period   object
4                         currentRatio  float64
5                           quickRatio  float64
6                            cashRatio  float64
7               daysOfSalesOutstanding  float64
8           daysOfInventoryOutstanding  float64
9                       operatingCycle  float64
10           daysOfPayablesOutstanding  float64
11                 cashConversionCycle  float64
12                   grossProfitMargin  float64
13               operatingProfitMargin  float64
14                  pretaxProfitMargin  float64
15                     netProfitMargin  float64
16                    effectiveTaxRate  float64
17                      returnOnAssets  float64
18                      returnOnEquity  float64
19             returnOnCapitalEmployed  float64
20                     netIncomePerEBT  float64
21                          ebtPerEbit  float64
22                      ebitPerRevenue  float64
23                           debtRatio  float64
24                     debtEquityRatio  float64
25        longTermDebtToCapitalization  float64
26           totalDebtToCapitalization  float64
27                    interestCoverage  float64
28                 cashFlowToDebtRatio  float64
29             companyEquityMultiplier  float64
30                 receivablesTurnover  float64
31                    payablesTurnover  float64
32                   inventoryTurnover  float64
33                  fixedAssetTurnover  float64
34                       assetTurnover  float64
35           operatingCashFlowPerShare  float64
36                freeCashFlowPerShare  float64
37                        cashPerShare  float64
38                         payoutRatio  float64
39         operatingCashFlowSalesRatio  float64
40  freeCashFlowOperatingCashFlowRatio  float64
41              cashFlowCoverageRatios  float64
42             shortTermCoverageRatios  float64
43     capitalExpenditureCoverageRatio  float64
44   dividendPaidAndCapexCoverageRatio  float64
45                 dividendPayoutRatio  float64
46                 priceBookValueRatio  float64
47                    priceToBookRatio  float64
48                   priceToSalesRatio  float64
49                  priceEarningsRatio  float64
50           priceToFreeCashFlowsRatio  float64
51      priceToOperatingCashFlowsRatio  float64
52                  priceCashFlowRatio  float64
53          priceEarningsToGrowthRatio  float64
54                     priceSalesRatio  float64
55                       dividendYield  float64
56             enterpriseValueMultiple  float64
57                      priceFairValue  float64
58                     __source_file__   object

>> Missing Values:

                                Column  Missing Count
0                               symbol              0
1                                 date              0
2                         calendarYear              0
3                               period              0
4                         currentRatio              0
5                           quickRatio              0
6                            cashRatio              0
7               daysOfSalesOutstanding            615
8           daysOfInventoryOutstanding             78
9                       operatingCycle            615
10           daysOfPayablesOutstanding             78
11                 cashConversionCycle            615
12                   grossProfitMargin              0
13               operatingProfitMargin              0
14                  pretaxProfitMargin              0
15                     netProfitMargin              0
16                    effectiveTaxRate              0
17                      returnOnAssets              1
18                      returnOnEquity              1
19             returnOnCapitalEmployed              1
20                     netIncomePerEBT              0
21                          ebtPerEbit              0
22                      ebitPerRevenue              0
23                           debtRatio              0
24                     debtEquityRatio              0
25        longTermDebtToCapitalization              0
26           totalDebtToCapitalization              0
27                    interestCoverage              0
28                 cashFlowToDebtRatio            164
29             companyEquityMultiplier              0
30                 receivablesTurnover              1
31                    payablesTurnover              0
32                   inventoryTurnover              1
33                  fixedAssetTurnover              1
34                       assetTurnover              1
35           operatingCashFlowPerShare            726
36                freeCashFlowPerShare            726
37                        cashPerShare            608
38                         payoutRatio            178
39         operatingCashFlowSalesRatio            732
40  freeCashFlowOperatingCashFlowRatio              0
41              cashFlowCoverageRatios            164
42             shortTermCoverageRatios            135
43     capitalExpenditureCoverageRatio              0
44   dividendPaidAndCapexCoverageRatio              0
45                 dividendPayoutRatio            178
46                 priceBookValueRatio              0
47                    priceToBookRatio              0
48                   priceToSalesRatio              0
49                  priceEarningsRatio              0
50           priceToFreeCashFlowsRatio              0
51      priceToOperatingCashFlowsRatio              0
52                  priceCashFlowRatio              0
53          priceEarningsToGrowthRatio              0
54                     priceSalesRatio              0
55                       dividendYield            508
56             enterpriseValueMultiple            614
57                      priceFairValue              0
58                     __source_file__              0

>> Unique Value Counts:

                                Column  Unique Values
0                               symbol            101
1                                 date           1710
2                         calendarYear             41
3                               period              4
4                         currentRatio          10161
5                           quickRatio          10152
6                            cashRatio          10126
7               daysOfSalesOutstanding           9878
8           daysOfInventoryOutstanding           8021
9                       operatingCycle          10033
10           daysOfPayablesOutstanding           9733
11                 cashConversionCycle          10145
12                   grossProfitMargin          10010
13               operatingProfitMargin          10153
14                  pretaxProfitMargin           9986
15                     netProfitMargin          10221
16                    effectiveTaxRate           9295
17                      returnOnAssets          10047
18                      returnOnEquity          10056
19             returnOnCapitalEmployed          10118
20                     netIncomePerEBT           9231
21                          ebtPerEbit           9477
22                      ebitPerRevenue          10153
23                           debtRatio           8596
24                     debtEquityRatio           8591
25        longTermDebtToCapitalization           7780
26           totalDebtToCapitalization           8591
27                    interestCoverage           5601
28                 cashFlowToDebtRatio           8408
29             companyEquityMultiplier          10160
30                 receivablesTurnover           9878
31                    payablesTurnover           9733
32                   inventoryTurnover           8021
33                  fixedAssetTurnover          10147
34                       assetTurnover          10164
35           operatingCashFlowPerShare          10036
36                freeCashFlowPerShare          10030
37                        cashPerShare          10155
38                         payoutRatio           4417
39         operatingCashFlowSalesRatio          10013
40  freeCashFlowOperatingCashFlowRatio           9777
41              cashFlowCoverageRatios           8408
42             shortTermCoverageRatios           6463
43     capitalExpenditureCoverageRatio           9767
44   dividendPaidAndCapexCoverageRatio           9825
45                 dividendPayoutRatio           4417
46                 priceBookValueRatio          10183
47                    priceToBookRatio          10183
48                   priceToSalesRatio          10739
49                  priceEarningsRatio          10272
50           priceToFreeCashFlowsRatio          10049
51      priceToOperatingCashFlowsRatio          10048
52                  priceCashFlowRatio          10048
53          priceEarningsToGrowthRatio           9739
54                     priceSalesRatio          10739
55                       dividendYield           4647
56             enterpriseValueMultiple          10187
57                      priceFairValue          10183
58                     __source_file__            101

>> Summary Statistics:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
symbol,10893,101,CSX,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date,10893,1710,2022-12-31,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calendarYear,10893,41,2023,402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
period,10893,4,Q1,2748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currentRatio,10893.0,NaN,NaN,NaN,2.533359,3.870984,0.0,1.115276,1.851609,3.104196,221.398793
quickRatio,10893.0,NaN,NaN,NaN,2.215011,3.750251,0.0,0.867109,1.566191,2.688517,211.642193
cashRatio,10893.0,NaN,NaN,NaN,0.810981,2.248099,-0.056006,0.164114,0.443906,0.925389,148.849007
daysOfSalesOutstanding,10278.0,NaN,NaN,NaN,62.015929,586.343776,-896.803991,32.101141,47.297041,62.87108,44016.197953
daysOfInventoryOutstanding,10815.0,NaN,NaN,NaN,49.626509,996.036828,-81086.482759,0.0,36.445219,87.879884,21080.0
operatingCycle,10278.0,NaN,NaN,NaN,114.2353,1178.474034,-81026.458101,53.530432,93.198928,148.949939,44281.549006
daysOfPayablesOutstanding,10815.0,NaN,NaN,NaN,105.784802,1487.531272,-17094.728033,21.585431,43.69382,78.272039,136121.73913
cashConversionCycle,10278.0,NaN,NaN,NaN,2.923504,1801.115017,-136073.012439,1.495325,40.114052,93.712386,44174.547401
grossProfitMargin,10893.0,NaN,NaN,NaN,0.557353,1.373986,-139.860914,0.406242,0.563742,0.760538,3.981225
operatingProfitMargin,10893.0,NaN,NaN,NaN,-0.091538,12.880153,-1094.972603,0.066502,0.168206,0.277952,12.586949
pretaxProfitMargin,10893.0,NaN,NaN,NaN,-67.879281,7080.832651,-739022.470389,0.030443,0.14099,0.247291,12.751435
netProfitMargin,10893.0,NaN,NaN,NaN,-0.141096,12.488762,-1070.643836,0.025905,0.103874,0.187721,7.437427
effectiveTaxRate,10893.0,NaN,NaN,NaN,1.806298,175.123553,-442.545455,0.086066,0.243434,0.34897,18264.471058
returnOnAssets,10892.0,NaN,NaN,NaN,0.016611,0.056248,-2.243505,0.003744,0.018544,0.035284,0.763477
returnOnEquity,10892.0,NaN,NaN,NaN,0.026936,1.208161,-71.894654,0.008367,0.039002,0.068701,47.973288
returnOnCapitalEmployed,10892.0,NaN,NaN,NaN,0.023635,0.188669,-5.969022,0.009143,0.034633,0.063525,4.856492
netIncomePerEBT,10893.0,NaN,NaN,NaN,0.782224,5.80318,-261.666667,0.62623,0.728122,0.859394,443.545455
ebtPerEbit,10893.0,NaN,NaN,NaN,1.366489,28.699486,-323.567568,0.815726,0.981303,1.045141,2440.983288
ebitPerRevenue,10893.0,NaN,NaN,NaN,-0.091538,12.880153,-1094.972603,0.066502,0.168206,0.277952,12.586949
debtRatio,10893.0,NaN,NaN,NaN,0.189598,0.197554,0.0,0.007507,0.146183,0.308926,1.774239
debtEquityRatio,10893.0,NaN,NaN,NaN,0.301026,20.324798,-890.817543,0.002611,0.23307,0.773241,554.683333
longTermDebtToCapitalization,10893.0,NaN,NaN,NaN,0.261847,0.575211,-6.421793,0.0,0.173636,0.409235,36.89
totalDebtToCapitalization,10893.0,NaN,NaN,NaN,0.285819,1.821618,-124.893617,0.010244,0.208291,0.45923,137.766028
interestCoverage,10893.0,NaN,NaN,NaN,242.155332,14480.289904,-25775.0,0.0,0.0,11.173719,1492040.0
cashFlowToDebtRatio,10729.0,NaN,NaN,NaN,22.644428,989.432232,-545.602041,0.0,0.084978,0.300483,64674.7
companyEquityMultiplier,10893.0,NaN,NaN,NaN,1.867515,31.509302,-1698.564856,1.32813,1.788606,2.851452,614.55
receivablesTurnover,10892.0,NaN,NaN,NaN,726020759312.461304,41640887136302.640625,-372.708333,1.290133,1.798414,2.5185,3395960747589632.0
payablesTurnover,10893.0,NaN,NaN,NaN,2.69502,16.761897,-11.153846,0.86685,1.667447,2.976143,1694.495146
inventoryTurnover,10892.0,NaN,NaN,NaN,-740413201240.501587,77273362723810.515625,-8064614793216000.0,0.0,0.974695,2.319361,7648000000.0
fixedAssetTurnover,10892.0,NaN,NaN,NaN,2.598815,36.973701,-0.426873,0.551341,1.242164,2.33747,3820.769231
assetTurnover,10892.0,NaN,NaN,NaN,0.208598,0.182475,-0.16428,0.103338,0.163084,0.261941,2.346329
operatingCashFlowPerShare,10167.0,NaN,NaN,NaN,1.074817,3.286201,-14.5432,0.073176,0.40176,1.131241,99.954331
freeCashFlowPerShare,10167.0,NaN,NaN,NaN,0.648318,3.469529,-154.262499,0.005358,0.206647,0.727421,96.270361
cashPerShare,10285.0,NaN,NaN,NaN,5.176376,18.674931,-41.743902,0.400755,1.67036,5.048913,489.062358
payoutRatio,10715.0,NaN,NaN,NaN,0.205167,3.697372,-168.643184,0.0,0.0,0.267496,245.333333
operatingCashFlowSalesRatio,10161.0,NaN,NaN,NaN,0.021224,10.623582,-769.897462,0.092162,0.197987,0.312628,115.553705
freeCashFlowOperatingCashFlowRatio,10893.0,NaN,NaN,NaN,-10.894792,1187.798294,-123958.0,0.317073,0.744536,0.909908,1044.369487
cashFlowCoverageRatios,10729.0,NaN,NaN,NaN,22.644428,989.432232,-545.602041,0.0,0.084978,0.300483,64674.7
shortTermCoverageRatios,10758.0,NaN,NaN,NaN,55.987152,2053.815403,-1440.888889,0.0,0.219747,1.763453,175874.056225
capitalExpenditureCoverageRatio,10893.0,NaN,NaN,NaN,6.245608,56.65531,-368.0,0.744186,2.570811,6.762557,4123.742857
dividendPaidAndCapexCoverageRatio,10893.0,NaN,NaN,NaN,4.996931,57.959472,-368.0,0.609183,1.747748,4.066327,4123.742857
dividendPayoutRatio,10715.0,NaN,NaN,NaN,0.205167,3.697372,-168.643184,0.0,0.0,0.267496,245.333333
priceBookValueRatio,10893.0,NaN,NaN,NaN,5.479834,172.648006,-13463.406185,2.19679,4.090271,7.887367,5068.2908
priceToBookRatio,10893.0,NaN,NaN,NaN,5.479834,172.648006,-13463.406185,2.19679,4.090271,7.887367,5068.2908
priceToSalesRatio,10893.0,NaN,NaN,NaN,47.208423,1751.132593,-798.660165,6.44396,13.173884,25.385383,178162.767123
priceEarningsRatio,10893.0,NaN,NaN,NaN,31.440149,1251.915335,-53164.5625,9.272841,19.666795,32.557358,88655.365441
priceToFreeCashFlowsRatio,10893.0,NaN,NaN,NaN,45.58128,1858.206259,-75799.358779,0.0,59.912302,122.418549,69787.2
priceToOperatingCashFlowsRatio,10893.0,NaN,NaN,NaN,415.866551,37310.051608,-120511.280627,21.607567,51.305882,95.079128,3890140.8
priceCashFlowRatio,10893.0,NaN,NaN,NaN,415.866551,37310.051608,-120511.280627,21.607567,51.305882,95.079128,3890140.8
priceEarningsToGrowthRatio,10893.0,NaN,NaN,NaN,-0.118717,20.671061,-885.64993,-0.779277,0.00598,0.871329,1503.797625
priceSalesRatio,10893.0,NaN,NaN,NaN,47.208423,1751.132593,-798.660165,6.44396,13.173884,25.385383,178162.767123
dividendYield,10385.0,NaN,NaN,NaN,0.003111,0.010424,0.0,0.0,0.0,0.004012,0.66375
enterpriseValueMultiple,10279.0,NaN,NaN,NaN,45.867131,2522.632863,-179227.149945,29.595722,49.958033,79.674583,61525.907852
priceFairValue,10893.0,NaN,NaN,NaN,5.479834,172.648006,-13463.406185,2.19679,4.090271,7.887367,5068.2908
__source_file__,10893,101,CSX_10Y_QUARTERLY.json,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN

=== EDA Summary for Folder: /home/baskar/Desktop/Research/StockPricePred/datasets/NASDAQ_100-20250521T124016Z-1-001/NASDAQ_100 ===

Shape: (613437, 14)

Columns:
['date', 'close', 'high', 'low', 'open', 'volume', 'adjClose', 'adjHigh', 'adjLow', 'adjOpen', 'adjVolume', 'divCash', 'splitFactor', '__source_file__']

>> Data Types:

             Column     Type
0              date   object
1             close  float64
2              high  float64
3               low  float64
4              open  float64
5            volume  float64
6          adjClose  float64
7           adjHigh  float64
8            adjLow  float64
9           adjOpen  float64
10        adjVolume  float64
11          divCash  float64
12      splitFactor  float64
13  __source_file__   object

>> Missing Values:

             Column  Missing Count
0              date              0
1             close              0
2              high              0
3               low              0
4              open              0
5            volume              0
6          adjClose              0
7           adjHigh              0
8            adjLow              0
9           adjOpen              0
10        adjVolume              0
11          divCash              0
12      splitFactor              0
13  __source_file__              0

>> Unique Value Counts:

             Column  Unique Values
0              date          13889
1             close         179089
2              high         193002
3               low         191932
4              open         175627
5            volume         359783
6          adjClose         395954
7           adjHigh         397220
8            adjLow         396360
9           adjOpen         389231
10        adjVolume         420421
11          divCash            427
12      splitFactor             20
13  __source_file__             98

>> Summary Statistics:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
date,613437,13889,2025-01-17T00:00:00.000Z,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
close,613437.0,NaN,NaN,NaN,1350.928252,5347.011428,0.62,51.38,161.44,739.17,134657.28
high,613437.0,NaN,NaN,NaN,1366.971984,5402.132968,0.62,52.25,164.0,749.0,134884.8
low,613437.0,NaN,NaN,NaN,1334.052841,5287.437571,0.5938,50.5,158.999921,729.0,133764.48
open,613437.0,NaN,NaN,NaN,1350.801673,5346.574885,0.62,51.375,161.48,739.06,134496.0
volume,613437.0,NaN,NaN,NaN,5297937.849491,20761003.624807,0.0,478745.0,1596735.0,4317700.0,9232320000.0
adjClose,613437.0,NaN,NaN,NaN,68.141743,187.949652,0.006458,5.427208,18.778898,57.453541,5289.474426
adjHigh,613437.0,NaN,NaN,NaN,69.027742,190.152543,0.006458,5.523434,19.065,58.176297,5326.298782
adjLow,613437.0,NaN,NaN,NaN,67.221941,185.678783,0.006185,5.328526,18.477476,56.67,5249.217122
adjOpen,613437.0,NaN,NaN,NaN,68.135584,187.934149,0.006458,5.427208,18.779884,57.410424,5289.135123
adjVolume,613437.0,NaN,NaN,NaN,24061607.008609,483114503.846708,0.0,1172857.0,3068248.0,9333500.0,369292800000.0
divCash,613437.0,NaN,NaN,NaN,0.004116,0.744793,0.0,0.0,0.0,0.0,567.971668
splitFactor,613437.0,NaN,NaN,NaN,1.000571,0.056465,0.1,1.0,1.0,1.0,20.0
__source_file__,613437,98,AEP_10Y_DAILY.json,13889,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
import os
import json
import pandas as pd
from pathlib import Path

def load_json_files_from_folder(folder_path):
    dataframes = []
    for file in Path(folder_path).glob('*.json'):
        try:
            with open(file, 'r') as f:
                data = json.load(f)
                if isinstance(data, list):
                    df = pd.DataFrame(data)
                else:
                    df = pd.DataFrame([data])
                dataframes.append(df)
        except Exception as e:
            print(f"Error reading {file}: {e}")
    return dataframes

def generate_label(df, price_col='close', date_col='date'):
    if date_col not in df.columns or price_col not in df.columns:
        print("Missing required columns for labeling.")
        return df

    df[date_col] = pd.to_datetime(df[date_col])
    df.sort_values(by=date_col, inplace=True)

    # Calculate percent change over 65 days (quarterly)
    df['quarterly_change'] = df[price_col].pct_change(periods=65) * 100

    def classify(change):
        if pd.isna(change):
            return None
        elif change > 5:
            return 'buy'
        elif change < -5:
            return 'sell'
        else:
            return 'hold'

    df['label'] = df['quarterly_change'].apply(classify)
    return df

def analyze(df):
    original_missing = df.isnull().sum()
    missing_features = (original_missing > 0).sum()

    substituted = 0
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype in ['float64', 'int64']:
                df[col].fillna(df[col].mean(), inplace=True)
                substituted += 1
            elif df[col].dtype == 'object':
                df[col].fillna(df[col].mode().iloc[0] if not df[col].mode().empty else "unknown", inplace=True)
                substituted += 1

    class_counts = df['label'].value_counts(normalize=True) * 100 if 'label' in df.columns else pd.Series(dtype=float)

    return df.shape, missing_features, substituted, class_counts.round(2)

def summarize_folder(folder_path, df):
    df = generate_label(df)

    shape, missing_count, substituted_count, class_dist = analyze(df)

    print(f"\n=== Summary for Folder: {folder_path} ===")
    
    # Display as pandas objects
    shape_df = pd.DataFrame({'Dataset Shape': [shape]})
    missing_df = pd.DataFrame({'Features with Missing Values': [missing_count]})
    substituted_df = pd.DataFrame({'Features Substituted (Filled)': [substituted_count]})
    
    print("\nDataset Shape:")
    display(shape_df)

    print("\nFeatures with Missing Values:")
    display(missing_df)

    print("\nFeatures Substituted (Filled):")
    display(substituted_df)

    if not class_dist.empty:
        print("\nClass Balance based on derived label (quarterly price change):")
        display(class_dist.reset_index().rename(columns={'index': 'Label', 'label': 'Percentage (%)'}))
    else:
        print("No valid label could be generated.")

def run_eda_on_folders(folder1, folder2):
    for folder in [folder1, folder2]:
        if not os.path.exists(folder):
            print(f"Folder not found: {folder}")
            continue

        dfs = load_json_files_from_folder(folder)
        if dfs:
            combined_df = pd.concat(dfs, ignore_index=True)
            summarize_folder(folder, combined_df)
        else:
            print(f"No JSON files found in {folder}")

# === Example usage ===
if __name__ == "__main__":
    folder1_path = "/home/baskar/Desktop/Research/StockPricePred/datasets/FMP-20250521T123934Z-1-001/FMP"
    folder2_path = "/home/baskar/Desktop/Research/StockPricePred/datasets/NASDAQ_100-20250521T124016Z-1-001/NASDAQ_100"
    run_eda_on_folders(folder1_path, folder2_path)

Missing required columns for labeling.

=== Summary for Folder: /home/baskar/Desktop/Research/StockPricePred/datasets/FMP-20250521T123934Z-1-001/FMP ===

Dataset Shape:

/tmp/ipykernel_284462/810099777.py:53: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

  Dataset Shape
0   (10893, 58)

Features with Missing Values:

   Features with Missing Values
0                            23

Features Substituted (Filled):

   Features Substituted (Filled)
0                             23

No valid label could be generated.

=== Summary for Folder: /home/baskar/Desktop/Research/StockPricePred/datasets/NASDAQ_100-20250521T124016Z-1-001/NASDAQ_100 ===

Dataset Shape:

/tmp/ipykernel_284462/810099777.py:53: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
/tmp/ipykernel_284462/810099777.py:56: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode().iloc[0] if not df[col].mode().empty else "unknown", inplace=True)

  Dataset Shape
0  (613437, 15)

Features with Missing Values:

   Features with Missing Values
0                             2

Features Substituted (Filled):

   Features Substituted (Filled)
0                              2

Class Balance based on derived label (quarterly price change):

  Percentage (%)  proportion
0            buy       48.29
1           sell       48.21
2           hold        3.51